{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}ChoralCat{% endblock %}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
      href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Rubik:ital,wght@0,400;0,500;0,700;1,400&display=swap"
      rel="stylesheet">
  <link rel="stylesheet" href="{% static 'bundle.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'choralcat_web/cc-icon-primary.png' %}"
</head>
<body>
{% include "choralcat_web/_navbar.html" %}
<div id="content">
  <div class="relative bg-white overflow-hidden">
    <div class="max-w-7xl mx-auto">
      {% block content %}{% endblock %}
    </div>
  </div>
</div>
<script src="{% static 'bundle.js' %}"></script>
</body>
</html>
