{% load choralcat_components %}
<span
    class="inline-flex rounded-full items-center py-0.5 pl-2.5 pr-1 text-sm font-medium {{ bg_class }} {{ text_class }}">
  {{ tag }}
  <button type="button"
          class="flex-shrink-0 ml-0.5 h-4 w-4 rounded-full inline-flex items-center justify-center
          text-indigo-400 hover:bg-indigo-200 hover:text-indigo-500 focus:outline-none focus:bg-indigo-500
          focus:text-white"
          hx-post="{{ tag_url }}"
          hx-params="{{ widget_name }}, remove"
          hx-vals='{"remove": "{{ tag }}"}'
          hx-target="#{{ widget_name }}_widget_results"
  >
    <span class="sr-only">Remove large option</span>
    {% x_icon "h-4 w-4" %}
  </button>
</span>
