Django>=4<5
python-dotenv>=0.19<1
django-extensions
celery[redis]
django-celery-results
django-celery-beat
gunicorn
# Dev dependencies version shouldn't matter
mypy
black
django-stubs
ipython
fabric
pip-tools
assertpy
