{% load choralcat_components %}
{{ form.non_field_errors }}
<div>
  <div>
    <div>
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        Person
      </h3>
    </div>
    <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
      {% text_input label="First name" field=form.first_name %}
      {% text_input label="Last name" field=form.last_name %}
    </div>
    <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
      {% text_input label="Birth date" field=form.birth %}
      {% text_input label="Death date" field=form.death %}
    </div>
  </div>
  <div class="pt-4">
    <fieldset>
      <div class="mt-4 space-y-4">
        {% checkbox label="Person of color" field=form.poc %}
        {% checkbox label="Non-male identifying" field=form.non_male_identifying %}
      </div>
    </fieldset>
  </div>
  <div class="pt-4">
    {% text_input label="Nationality" field=form.nationality %}
  </div>
  <div class="pt-4">
    {% text_input label="Bio" field=form.bio %}
  </div>
</div>
