{{ form.non_field_errors }}
<div>
  <div>
    <div>
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        Person
      </h3>
    </div>
    <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
      {% include "partials/forms/text_input.html" with label="First name" field=form.first_name %}
      {% include "partials/forms/text_input.html" with label="Last name" field=form.last_name %}
    </div>
    <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
      {% include "partials/forms/text_input.html" with label="Birth date" field=form.birth %}
      {% include "partials/forms/text_input.html" with label="Death date" field=form.death %}
    </div>
  </div>
  <div class="pt-4">
    <fieldset>
      <div class="mt-4 space-y-4">
        {% include "partials/forms/checkbox.html" with field=form.poc label="Person of color" %}
        {% include "partials/forms/checkbox.html" with field=form.non_male_identifying label="Non-male identifying" %}
      </div>
    </fieldset>
  </div>
  <div class="pt-4">
    {% include "partials/forms/text_input.html" with field=form.nationality label="Nationality" %}
  </div>
  <div class="pt-4">
    {% include "partials/forms/text_input.html" with field=form.bio label="Bio" %}
  </div>
</div>
