{% load choralcat_extras %}
<tr>
  <td class="px-6 py-4 whitespace-nowrap">
    <a href="{% url 'composition_detail' composition.slug %}">
      <div class="flex items-center">
        <div>
          <div class="text-sm font-medium text-gray-900">
            {{ composition.title }}
          </div>
          <div class="text-sm text-gray-500">
            <span class="font-light">Composed by:</span> {{ composition.composers.all|join:"; " }}
          </div>
          {% if composition.arrangers.count > 0 %}
            <div class="text-sm text-gray-500">
              <span class="font-light">Arranged by:</span> {{ composition.arrangers.all|join:"; " }}
            </div>
          {% endif %}
          {% if composition.rating %}
            <div class="text-sm flex items-center mt-1 text-yellow-300">
              {% for i in composition.stars %}
                <svg class="w-4 h-4" stroke="currentColor"  fill="currentColor" viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z"></path>
                </svg>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
    </a>
  </td>
  <td class="px-6 py-4">
    <div class="text-sm text-gray-900">
      {% for category in composition.categories.all %}
        {% create_tag category.value %}
      {% endfor %}
    </div>
    {#    <div class="text-sm text-gray-500">Optimization</div>#}
  </td>
  <td class="px-6 py-4">
    {% for topic in composition.topics.all %}
      {% create_tag topic.value %}
    {% endfor %}
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    {{ composition.voicing }}
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    {% if composition.starting_key or composition.ending_key %}
      {{ composition.starting_key }}/{{ composition.ending_key }}
    {% endif %}
  </td>
  <td class="px-6 py-4">
    {% for tag in composition.tags.all %}
      {% create_tag tag.value %}
    {% endfor %}
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    {{ composition.duration_mmss }}
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
    <button class="text-indigo-600 hover:text-indigo-900"
            @click="open('{{ composition.slug }}')"
            hx-get="{% url 'catalog_modal' composition.slug %}"
            hx-target="#modalContent"
    >
      <svg class="w-6 h-6 hover:cursor-pointer" fill="none" stroke="currentColor" viewBox="0 0 24 24"
           xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
      </svg>
    </button>
  </td>
</tr>
