{% load choralcat_extras %}

<div
    x-data="tagWidget(
      '{{ widget.name }}',
      [{% for opt in sorted_options %}[{{ forloop.counter0 }},{{ opt.value }},'{{ opt.label|escapejs }}'],{% endfor %}]
    )"
    class="relative"
>
  <div id="{{ widget.name }}_widget_results">
    {% include "web/widgets/tag_widget_response.html" with tag_url=widget.attrs.tag_url %}
  </div>
  <div class="mt-3 flex">
    <input type="text"
           name="new_{{ widget.name }}"
           id="id_{{ widget.name }}"
           class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
           placeholder="{{ widget.attrs.placeholder }}"
           @keyup="filterOptions()"
           @keydown.enter="enterTag()"
           @keydown.enter.prevent
           @keydown.arrow-up.prevent="idx = idx <= 0 ? -1 : idx - 1"
           @keydown.arrow-down.prevent="idx = idx + 1 === maxIdx ? idx : idx + 1"
           @keydown.escape.window="showDropdown = false"
           @blur="showDropdown = false"
           @click.away="showDropdown = false"
           @focus="showDropdown = true;idx = -1"
           x-model="newCat"
           hx-trigger="{{ widget.name }}_submit"
           hx-post="{{ widget.attrs.tag_url }}"
           hx-params="{{ widget.name }}, new_{{ widget.name }}"
           hx-target="#{{ widget.name }}_widget_results"
    >
    <button type="button"
            class="ml-3 inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md
            shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2
            focus:ring-indigo-500"
            @click="enterTag()"
        {# Something about the way htmx/alpine works, only the element that triggers the event can listen for that #}
        {# event. So there's some kind of scoping going on here. #}
            hx-trigger="{{ widget.name }}_submit"
            hx-post="{{ widget.attrs.tag_url }}"
            hx-params="{{ widget.name }}, new_{{ widget.name }}"
            hx-target="#{{ widget.name }}_widget_results"
    >
      Add
    </button>
  </div>
  <ul class="absolute z-10 mt-2 w-full bg-white shadow-lg max-h-60 rounded-md py-1 text-base ring-1 ring-black ring-opacity-5 overflow-auto focus:outline-none sm:text-sm"
      tabindex="-1" role="listbox" aria-labelledby="listbox-label" aria-activedescendant="listbox-option-3"
      x-show="showDropdown"
      x-transition:leave="transition ease-in duration-100"
      x-transition:leave-start="opacity-100"
      x-transition:leave-end="opacity-0"
  >
    <template x-for="(value, index) in filtered">
      <li class="cursor-default select-none relative py-2 pl-3 pr-9"
          :id="'listbox-option-' + index"
          :class="{'text-white bg-indigo-600': idx === index, 'text-gray-900': idx !== index}"
          @mouseenter="idx = index"
          @click="newCat = value[2];showDropdown = false"
          role="option">
        <span class="block truncate"
              :class="{'font-semibold': idx === index, 'font-normal': idx !== index}"
              x-text="value[2]"
        ></span>
      </li>
    </template>
  </ul>
</div>
