(common) {
    encode gzip
    @http {
        protocol http
    }
    redir @http https://{host}{uri}
}

(choralcat) {
    handle_path /static/* {
        root * /app/staticfiles
        # 31 days
        header /static/* Cache-Control max-age=2678400
        file_server
    }

    handle {
        reverse_proxy localhost:8000 {
            header_up Host {host}
        }
    }
}

choralcat.org {
    import common
    import choralcat
}

www.choralcat.org {
    redir https://choralcat.org{uri}
}

choral.keeler.dev {
    import common
    import choralcat
}
