{% extends "choralcat_web/base.html" %}
{% block main %}
  <form action="{% url 'program_edit' program.slug %}" method="post" class="space-y-8 divide-y divide-gray-200">
    {% include "choralcat_web/program/program_form.html" with title=program.title %}
    <div class="pt-5">
      <div class="flex justify-end">
        {% url 'program_detail' program.slug as back_url %}
        {% include "partials/forms/cancel_button.html" with url=back_url label="Cancel" %}
        {% include "partials/forms/action_button.html" with label="Save" %}
      </div>
    </div>
  </form>
{% endblock %}
