{% csrf_token %}

{{ form.non_field_errors }}
<div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
  <div class="pt-8">
    <div>
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        {{ title }}
      </h3>
    </div>
    <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
      <div class="sm:col-span-3">
        {{ form.title.errors }}
        <label for="{{ form.season.id_for_label }}" class="block text-sm font-medium text-gray-700">
          Title
        </label>
        <div class="mt-1">
          {{ form.title }}
        </div>
      </div>

      <div class="sm:col-span-3">
        {{ form.season.errors }}
        <label for="{{ form.season.id_for_label }}" class="block text-sm font-medium text-gray-700">
          Season
        </label>
        <div class="mt-1">
          {{ form.season }}
        </div>
      </div>
    </div>
  </div>
</div>

