version: "3.7"

services:
  app:
    image: "jerkeeler/choralcat:app-${VERSION}"
    restart: unless-stopped
    command: ../venv/bin/gunicorn choralcat.wsgi -w=4 --bind=0.0.0.0:8000
    working_dir: /app/code
    environment: &app-env
      LOG_LEVEL: "${LOG_LEVEL}"
      DEBUG: "${DEBUG}"
      SECRET_KEY: "${SECRET_KEY}"
      ALLOWED_HOSTS: "${ALLOWED_HOSTS}"
      CSRF_TRUSTED_ORIGINS: "${CSRF_TRUSTED_ORIGINS}"
      REDIS_PASSWORD: "${REDIS_PASSWORD}"
      REDIS_HOST: "${REDIS_HOST}"
      REDIS_PORT: "${REDIS_PORT}"
      EMAIL_HOST: "${EMAIL_HOST}"
      EMAIL_PORT: "${EMAIL_PORT}"
      EMAIL_HOST_USER: "${EMAIL_HOST_USER}"
      EMAIL_HOST_PASSWORD: "${EMAIL_HOST_PASSWORD}"
      ADMIN_EMAILS: "${ADMIN_EMAILS}"
      ADMIN_NAMES: "${ADMIN_NAMES}"
    volumes:
      - ./data:/app/code/data
  celery-worker:
    image: "jerkeeler/choralcat:app-${VERSION}"
    restart: unless-stopped
    command: >
      ../venv/bin/celery -A choralcat worker -n w1@%h
      --logfile=/app/code/data/logs/celery/%n%I.log --loglevel="INFO"
      --time-limit=300 --concurrency=1
    working_dir: /app/code
    environment: *app-env
    volumes: &celery-volumes
      - ./data:/app/code/data
    depends_on:
      - app
      - redis
  celery-beat:
    image: "jerkeeler/choralcat:app-${VERSION}"
    restart: unless-stopped
    command: >
      ../venv/bin/celery -A choralcat beat
      --logfile=/app/code/data/logs/beat.log --loglevel="INFO"
    working_dir: /app/code
    environment: *app-env
    volumes: *celery-volumes
    depends_on:
      - celery-worker
  redis:
    image: redis:6.2
    restart: unless-stopped
    volumes:
      - redis:/data
  caddy:
    image: "jerkeeler/choralcat:caddy-${VERSION}"
    restart: unless-stopped
    ports:
       - "80:80"
       - "443:443"
       - "2019:2019"  # Enables Caddy api for metrics collection
    volumes:
        - caddy_data:/data

volumes:
  redis:
  caddy_data:
    external: true
