{% load choralcat_components %}
{% load choralcat_extras %}
<li>
  <input type="hidden" name="slug" value="{{ composition.slug }}"/>
  <a href="#" class="block hover:bg-gray-50">
    <div class="flex justify-between items-center">
      <div class="px-4 py-4 sm:px-6 w-full">
        <div class="flex items-center justify-between">
          <p class="text-sm font-medium truncate">
            {{ composition.title }}
          </p>
          <div class="ml-2 flex-shrink-0 flex">
            {% for tag in composition.topics.all %}
              {% tag tag.value %}
            {% endfor %}
          </div>
        </div>
        <div class="mt-2 sm:flex sm:justify-between">
          <div class="sm:flex">
            <p class="flex items-center text-sm text-gray-500">
              <!-- Heroicon name: solid/users -->
              <span class="font-light">Composed by: &nbsp;</span> {{ composition.composers.all|join:"; " }}
            </p>
          </div>
          {% if composition.duration %}
            <div class="mt-2 flex items-center text-sm text-gray-500 sm:mt-0">
              {% clock_icon "flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" %}
              <p>
                {{ composition.duration_mmss }}
              </p>
            </div>
          {% endif %}
        </div>
        {% if composition.arranger.counts or composition.starting_key or composition.ending_key %}
          <div class="mt-1 sm:flex sm:justify-between">
            <div class="sm:flex">
              {% if composition.arrangers.count %}
                <p class="flex items-center text-sm text-gray-500">
                  <!-- Heroicon name: solid/users -->
                  <span class="font-light">Arranged by: &nbsp;</span> {{ composition.arrangers.all|join:"; " }}
                </p>
              {% endif %}
            </div>
            <div class="mt-2 flex items-center text-sm text-gray-500 sm:mt-0">
              {% music_notes_icon "flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" %}
              {% if composition.starting_key or composition.ending_key %}
                <p>
                  {{ composition.starting_key }}/{{ composition.ending_key }}
                </p>
              {% endif %}
            </div>
          </div>
        {% endif %}

      </div>
      <div class="mr-5 flex-shrink-0">
        <!-- Heroicon name: solid/chevron-right -->
        <form hx-post="{% url 'program_remove' program.slug %}"
              hx-target="#program"
        >
          <input type="hidden" value="{{ composition.slug }}" name="composition_slug">
          <button class="text-red-500 bg-red-200 rounded-md shadow px-3 py-2"
                  type="submit">
            {% minus_icon "w-6 h-6" %}
          </button>
        </form>
      </div>
    </div>
  </a>
</li>
