{% load choralcat_components %}
{% load choralcat_extras %}

<div class="px-4 relative inline-block text-left last:pr-0" x-data="{showFilter: false, numSelected: 0}" @click.away="showFilter = false  ">
  <button type="button"
          @click="showFilter = !showFilter"
          class="group inline-flex justify-center text-sm font-medium text-gray-700 hover:text-gray-900"
          aria-expanded="false">
    <span>{{ text }}</span>
    <span class="ml-1.5 rounded py-0.5 px-1.5 bg-gray-200 text-xs font-semibold text-gray-700 tabular-nums" x-text="numSelected"></span>

    {#    <span#}
    {#        class="ml-1.5 rounded py-0.5 px-1.5 bg-gray-200 text-xs font-semibold text-gray-700 tabular-nums">1</span>#}
    <!-- Heroicon name: solid/chevron-down -->
    {% chevron_down_icon "flex-shrink-0 -mr-1 ml-1 h-5 w-5 text-gray-400 group-hover:text-gray-500" %}
  </button>

  <div x-show="showFilter"
       x-transition:enter="transition ease-out duration-100"
       x-transition:enter-start="transform opacity-0 scale-95"
       x-transition:enter-end="transform opacity-100 scale-100"
       x-transition:leave="transition ease-in duration-75"
       x-transition:leave-start="transform opacity-100 scale-100"
       x-transition:leave-end="transform opacity-0 scale-95"
       class="origin-top-right absolute right-0 mt-2 bg-white rounded-md shadow-2xl p-4 ring-1 ring-black ring-opacity-5
       focus:outline-none overflow-scroll max-h-96">
    <form class="space-y-4">
      {% for option in options %}
        <div class="flex items-center">
          <input id="filter-{{ text }}-{{ forloop.counter0 }}" name="{{ text|lower }}" value="{{ option }}" type="checkbox"
                 class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500"
                 {% search_attrs %}
                 autocomplete="off"
                 @click="$event.target.checked ? numSelected++ : numSelected--"
          >
          <label for="filter-{{ text }}-{{ forloop.counter0 }}"
                 class="ml-3 pr-6 text-sm font-medium text-gray-900 whitespace-nowrap">
            {% if is_tag %}
              {% tag option %}
            {% else %}
              {{ option }}
            {% endif %}
          </label>
        </div>
      {% endfor %}
    </form>
  </div>
</div>
