<div class="border-t border-gray-200 px-4 py-6" x-data="{filterOpen: false}">
  <h3 class="-mx-2 -my-3 flow-root">
    <!-- Expand/collapse section button -->
    <button type="button"
            @click="filterOpen = !filterOpen"
            class="px-2 py-3 bg-white w-full flex items-center justify-between text-sm text-gray-400"
            aria-controls="filter-section-0" aria-expanded="false">
              <span class="font-medium text-gray-900">
                {{ text }}
              </span>
      <span class="ml-6 flex items-center">
                <svg class="h-5 w-5 transform" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                     fill="currentColor" aria-hidden="true" :class="filterOpen ? '-rotate-180' : 'rotate-0'">
                  <path fill-rule="evenodd"
                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                        clip-rule="evenodd"/>
                </svg>
              </span>
    </button>
  </h3>
  <!-- Filter section, show/hide based on section state. -->
  <div class="pt-6" id="filter-section-0" x-show="filterOpen">
    <div class="space-y-6">
      {% for option in options %}
        <div class="flex items-center">
          <input id="filter-mobile-category-0" name="category[]" value="new-arrivals" type="checkbox"
                 class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
          <label for="filter-mobile-category-0" class="ml-3 text-sm text-gray-500">
            {{ option }}
          </label>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
