{% load choralcat_components %}
{% load choralcat_extras %}

<tr>
  <td class="px-6 py-4 w-4/6">
    <a href="{% url 'composition_detail' composition.slug %}">
      <div class="flex items-center">
        <div>
          <div class="text-sm font-medium text-gray-900">
            {{ composition.title }}
          </div>
          <div class="text-sm text-gray-500">
            <span class="font-light">Composed by:</span> {{ composition.composers.all|join:"; " }}
          </div>
          {% if composition.arrangers.count > 0 %}
            <div class="text-sm text-gray-500">
              <span class="font-light">Arranged by:</span> {{ composition.arrangers.all|join:"; " }}
            </div>
          {% endif %}
          {% if composition.rating %}
            <div class="text-sm flex items-center mt-1 text-yellow-300">
              {% for i in composition.stars %}
                {% star_icon "w-4 h-4" %}
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
    </a>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm">
    {{ composition.time_period }}
  </td>
  <td class="px-6 py-4">
    {% for topic in composition.topics.all %}
      {% tag topic.value %}
    {% endfor %}
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm">
    {% if composition.number_of_voices %}
      {{ composition.number_of_voices }}
    {% endif %}
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm">
    {{ composition.voicing }}
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm">
    {% if composition.score_link %}
      <a href="{{ composition.score_link }}" class="text-indigo-600">PDF</a>
    {% endif %}
  </td>
  <td class="px-6 py-4">
    {% for tag in composition.tags.all %}
      {% tag tag.value %}
    {% endfor %}
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm">
    {{ composition.duration_mmss }}
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
    <button class="text-indigo-600 hover:text-indigo-900"
            @click="open('{{ composition.slug }}')"
            hx-get="{% url 'catalog_modal' composition.slug %}"
            hx-target="{% firstof hx_target '#modalContent' %}"
    >
      {% plus_icon "w-6 h-6 hover:cursor-pointer" %}
    </button>
  </td>
</tr>
