{% extends "web/base.html" %}
{% load choralcat_components %}
{% block main %}
  <form action="{% url 'composition_edit' composition.slug %}" method="post">
    {% csrf_token %}
    <div class="space-y-8 divide-y divide-gray-200">
      {{ form }}
      <div class="pt-5">
        <div class="flex justify-end">
          {% url 'composition_detail' composition.slug as back_url %}
          {% form_cancel_button label="Cancel" url=back_url %}
          {% form_action_button label="Save" %}
        </div>
      </div>
    </div>
  </form>
{% endblock %}
