{% extends "web/base.html" %}

{% load static %}
{% load choralcat_components %}
{% load choralcat_extras %}

{% block main %}
  <div>
    <div class="lg:flex lg:items-center lg:justify-between" x-data="{
    modalOpen: false,
    open(piece) {
      this.modalOpen = true;
      this.piece = piece;
    },
    piece: '',
  }">
      <div class="flex-1 min-w-0">
        <h2 class="text-3xl font-header leading-7 text-gray-900">
          {{ composition.title }}
        </h2>
        <div class="mt-1 flex flex-col flex-wrap mt-0 pt-2">
          {% if composition.composers.count > 0 %}
            <div class="flex items-center text-gray-500">
              <span class="font-light">Composed by: &nbsp;</span>
              {% for composer in composition.composers.all %}
                <a class="text-primary hover:text-primary300"
                   href="{% url 'person_detail' composer.slug %}">
                  {{ composer }}{% if not forloop.last %};{% endif %}</a>
              {% endfor %}
            </div>
          {% endif %}
          {% if composition.arrangers.count > 0 %}
            <div class="flex items-center text-gray-500">
              <span class="font-light">Arranged by: &nbsp;</span>
              {% for arranger in composition.arrangers.all %}
                <a class="text-primary hover:text-primary300"
                   href="{% url 'person_detail' arranger.slug %}">
                  {{ arranger }}{% if not forloop.last %};{% endif %}</a>
              {% endfor %}
            </div>
          {% endif %}
          {% if composition.rating %}
            <div class="text-lg flex items-center mt-1 text-yellow-300">
              {% for _ in composition.stars %}
                {% star_icon "h-5 w-5" %}
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
      <div class="mt-5 flex lg:mt-0 lg:ml-4">
    <span class="hidden sm:block">
      <a href="{% url 'composition_edit' composition.slug %}"
         class="inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        <!-- Heroicon name: solid/pencil -->
        {% pencil_icon "-ml-1 mr-2 h-5 w-5 text-gray-500" %}
        Edit
      </a>
    </span>
        <span class="sm:ml-3">
      <button type="button"
              class="inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              @click="open('{{ composition.slug }}')"
              hx-get="{% url 'catalog_modal' composition.slug %}"
              hx-target="#modalContent">
        <!-- Heroicon name: solid/check -->
        {% plus_icon "w-5 h-5 -ml-1 mr-2" %}
        Add
      </button>
    </span>
      </div>
      {% include "partials/program_modal/modal_base.html" %}
    </div>
    <div class="mt-2 grid grid-flow-row text-gray-500">
      <div class="grid grid-cols-2">
        <div>
          {% if composition.time_period or composition.language %}
            <p>{% if composition.time_period %}
              {{ composition.time_period }}{% endif %}{% if composition.time_period and composition.language %}
              ,{% endif %}
              {% if composition.language %}{{ composition.language }}{% endif %}
            </p>
          {% endif %}
          {% if composition.tags.count %}
            <div><span class="mr-2 font-light text-gray-500">Tags:</span>
              {% for tag in composition.tags.all %}{% tag tag.value %}{% endfor %}
            </div>
          {% endif %}
          {% if composition.categories.count %}
            <div class="mt-1"><span class="mr-2 font-light text-gray-500">Categories:</span>
              {% for category in composition.categories.all %}{% tag category.value %}{% endfor %}
            </div>
          {% endif %}
          {% if composition.topics.count %}
            <div class="mt-1"><span class="mr-2 font-light text-gray-500">Topics:</span>
              {% for topic in composition.topics.all %}{% tag topic.value %}{% endfor %}
            </div>
          {% endif %}
        </div>
        <div class="grid justify-items-end text-gray-600">
          <div>{% for instrument in composition.accompaniment.all %}{% tag instrument.value %}{% endfor %}</div>
          {% if composition.number_of_voices %}
            <div class="inline-flex mt-1">
              <p>{{ composition.number_of_voices }} voices</p>
            </div>
          {% endif %}
          {% if composition.voicing %}
            <div class="inline-flex mt-1">
              <p>{{ composition.voicing }}</p>
            </div>
          {% endif %}
          <div class="mt-1 inline-flex items-center">
            {% if composition.duration %}
              {% clock_icon "flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" %}
              <p>
                {{ composition.duration_mmss }}
              </p>
            {% endif %}
          </div>
          <div class="inline-flex items-center mt-1">
            {% if composition.starting_key or composition.ending_key %}
              {% music_notes_icon "flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" %}
              <p>{{ composition.starting_key }}/{{ composition.ending_key }}</p>
            {% endif %}
          </div>
        </div>
      </div>
      {% if composition.score_link %}
        <div class="mt-2">
          <p><a class="text-primary hover:text-primary300" href="{{ composition.score_link }}">Score PDF</a></p>
        </div>
      {% endif %}
      {% if composition.has_score_attachment %}
        <div><p>{{ composition.score_attachment.name }}</p></div>
      {% else %}
        <form method="post" enctype="multipart/form-data" action="{% url 'catalog_file_upload' composition.slug %}" >
          {% csrf_token %}
          <input type="file" name="file">
          <input type="submit" id="submit" value="upload">
        </form>
      {% endif %}
      {% if composition.notes or composition.edition_notes %}
        <hr class="mt-4 mb-4"/>
        <div class="mt-2">
          {% if composition.notes %}
            <div>
              <h4 class="text-xl font-header text-gray-800">Notes:</h4>
              <p>{{ composition.notes }}</p>
            </div>
          {% endif %}
          {% if composition.edition_notes %}
            <div class="mt-2">
              <h4 class="text-xl font-header text-gray-800">Edition Notes:</h4>
              <p>{{ composition.edition_notes }}</p>
            </div>
          {% endif %}
        </div>
      {% endif %}
      {% if composition.program_set.count %}
        <hr class="mt-4 mb-4"/>
        <h4 class="text-xl font-header text-gray-800">Contained in:</h4>
        <!-- This example requires Tailwind CSS v2.0+ -->
        <div class="flex flex-col mt-2">
          <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
              <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                <table class="min-w-full divide-y divide-gray-200">
                  <thead class="bg-gray-50">
                  <tr>
                    <th scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                      Title
                    </th>
                    <th scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                      Season
                    </th>
                    <th scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                      Last Updated
                    </th>
                    <th scope="col" class="relative px-6 py-3">
                    </th>
                  </tr>
                  </thead>
                  <tbody class="bg-white divide-y divide-gray-200">

                  {% for program in composition.program_set.all %}
                    {% include "web/program/table_row.html" with show_edit=False %}
                  {% endfor %}

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
