{% extends "choralcat_web/base.html" %}
{% block main %}
  <form action="{% url 'composition_edit' composition.slug %}" method="post">
    {% csrf_token %}
    <div class="space-y-8 divide-y divide-gray-200">
      {{ form }}
      <div class="pt-5">
        <div class="flex justify-end">
          {% url 'composition_detail' composition.slug as back_url %}
          {% include "partials/forms/cancel_button.html" with label="Canel" url=back_url %}
          {% include "partials/forms/action_button.html" with label="Save" %}
        </div>
      </div>
    </div>
  </form>
{% endblock %}
