<div>
  <div class="bg-white py-5 border-b border-gray-200">
    <h3 class="text-lg leading-6 font-header text-gray-900">
      {{ composition.title }}
    </h3>
  </div>

  <div>
    <div class="flow-root mt-6">
      <ul role="list" class="-my-5 divide-y divide-gray-200">
        {% for program in programs %}
          <li class="py-4">
            <div class="flex items-center space-x-4">
              <div class="flex-1 min-w-0">
                <p class="text-sm font-medium text-gray-900 truncate">
                  {{ program.title }}
                </p>
                <p class="text-sm text-gray-500 truncate">
                  {{ program.season }}
                </p>
              </div>
              <div>
                {% if program.slug in in_programs %}
                  <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full bg-green-100">
                    <!-- Heroicon name: outline/check -->
                    <svg class="h-6 w-6 text-green-600" xmlns="http://www.w3.org/2000/svg" fill="none"
                         viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                    </svg>
                  </div>
                {% else %}
                  <form hx-post="{% url 'program_add' program.slug %}"
                        hx-target="#modalContent">
                    <input type="hidden" value="{{ composition.slug }}" name="composition_slug">
                    <button type="submit"
                            class="inline-flex items-center shadow-sm px-2.5 py-0.5 border border-gray-300 text-sm leading-5 font-medium rounded-full text-gray-700 bg-white hover:bg-gray-50">
                      Add
                    </button>
                  </form>
                {% endif %}
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
