# django-defender
Django>=4<5
boto3
celery[redis]
django-celery-beat
django-celery-results
django-debug-toolbar
django-environ
django-extensions
django-storages
gunicorn
ipython
pip-tools
sentry-sdk
unidecode
