name: ChoralCat CI
on: [push]
env:
  DEBUG: True
jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.10.2
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: 14.x
          cache: 'npm'
      - name: Install dependencies
        run: make install
      - name: Run tests
        run: make test
      - name: Bundle static files
        run: tar -cvf staticfiles.tar staticfiles/
      - name: Store static files
        uses: actions/upload-artifact@v2
        with:
          name: staticfiles
          path: staticfiles.tar
  deploy:
    needs: test
    concurrency: deploy-prod
    runs-on: ubuntu-20.04
    if: github.ref == 'refs/heads/master'
    steps:
      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          known_hosts: dummy_value
      - name: Add known hosts
        run: ssh-keyscan -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts
      - name: Download static files
        uses: actions/download-artifact@v2
        with:
          name: staticfiles
      - name: Transfer static files

        run: scp staticfiles.tar ${{secrets.SSH_USER}}@${{ secretes.SSH_HOST }}:/apps/choralcat
# This must be commented out to bootstrap the process and have the deploy script on the host
#      - name: Run deploy script on host
#        uses: appleboy/ssh-action@v0.1.4
#        with:
#          host: ${{ secrets.SSH_HOST }}
#          username: ${{ secrets.SSH_USER }}
#          key: ${{ secrets.SSH_PRIVATE_KEY }}
#          script: /apps/choralcat/deploy.sh ${{ github.sha }}



